{% extends 'nav.html' %}

{% block content %}

<h1 class="text-center">Shorty - URL Shortening Service</h1>


{% if error %}

<div class="container shadow p-4">
    <div class="row">
        <div class="col-12 text-center">
            <p>The Url you are looking for doesn't exist</p>
            <a href="/dashboard" class="btn btn-primary">Shorten Your URL</a>
        </div>
    </div>
</div>

{% endif %}

<main role="main" class="inner cover">
    <br>
    <div class="col-12 text-center">
    <p class="lead" style="text-align: center;">Shorty is a URL Shortening Service built to shorten all your long URLs on the go.<br>Create your customized short URLs or just shorten it randomly.
        {% if user.is_authenticated %}
        <br><br>Start shortening now!!</p>
        {% else %}
        <br><br>Sign Up now and start shortening.</p>
        {% endif %}
    <p class="lead" style="text-align: center;">
      <a href="/dashboard" class="btn btn-lg btn-secondary" style="align-items: center;">Shorten URL</a>
    </p>
    </div>
  </main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    Swal.fire(
  'QR Code',
  'Now we auto-generate QR Code for your long URLs.',
  'info'
)
</script>

</body>

</html>

{% endblock %}
